<!-- put your analytics (e.g. Google Analytics) tracking code here -->
<!-- Default Statcounter code for Group website https://modernancientgenomes.github.io/ -->
<script type="text/javascript">
var sc_project=12872222; 
var sc_invisible=1; 
var sc_security="ba137468"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - Statcounter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12872222/0/ba137468/1/"
alt="Web Analytics Made Easy - Statcounter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
